<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>WDI Project 2</title>

  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">%>
  <link rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.min.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="/js/client.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>

    <nav class="navbar navbar-default navbar-static-top" >



      <a class="navbar-brand" href="/">Review project</a>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto" style="list-style:none;">
          <%# <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>%>
        <li class="nav-item">
          <a class="navbar-brand" href="/reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-brand" href="/reviews/new">Review a Film</a>
        </li>
        </ul>
        <div class=" navbar-right navbar-brand">

            <% if (locals.isLoggedIn) { %>

        <a class="nav-link" href="/logout">Logout</a>

    <% } else { %>

        <a class="nav-link" href="/login">Log In</a>


        <a class="nav-link" href="/register">Register</a>

    <% } %>


        </div>





</nav>
</header>






<main class="container">
  <% for (const type in messages) { %>
  <p class="alert alert-<%= type %>"><%= messages[type] %></p>
<% } %>

  <%- body %>
</main>
</body>
</html>
