<div class="container text-center">
  <div class="jumbotron">

    <h3 class="text center">Search for a film</h3>
    <form id="searchForm">

    <input class="searchLanding form-control" type="text">
    <input class="searchBtn btn btn-default" type="hidden" value="Search" placeholder="Search for Something">
    </form>
  </div>

</div>



<div class="container">
  <div class="filmShow row">

  </div>
</div>
