<h1>Landing</h1>

<form id="searchForm">
<label>Search</label>
<input class="searchLanding" type="text">
<input class="searchBtn btn btn-default" type="submit" value="Search" placeholder="Search for Something">
</form>
<div class="container">
  <div class="filmShow row">

  </div>
</div>
