<div class="reviewPage">


<h1 id="reviewsIndexHeader">Reviews</h1>


<ul style="list-style-type:none">
  <div class="row">



  <% review.forEach(review => { %>
    <div class="col-md-3 text-center img-holder container">
    <div class="posterIndex">
    <img class="indexImages" src="<%= review.image %>">
    <li><h4 class="indexHeader"><a href="/reviews/<%= review._id %>"><%= review.title %></a></h4></li>

    </div>
    </div>
  <% }); %>

    </div>
</ul>
</div>
