body {
  font-family: sans-serif;
  background: #fff5e5;
  font-family: 'Inconsolata', monospace;
}



img{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media(min-width:960px) {


  .filmShow img {
    width: 100%;
    height: 100%;

  }
  .filmShow .col-md-3 .well {
    height: 390px;
  }
  .filShow .col-md-3 img{
    height: 240px;
  }
}

.jumbotron {

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;
}
