
.indexImages {
  height: 300px;
  width: 200px;
  border-radius: 7px;
}

.buttonsDiv {
  width: 115px;
}

body {
  background-color: #EAEAEA;
  font-family: 'News Cycle', sans-serif;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #1D1E2C;
    background-color: #1D1E2C;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #000000;
    background-color: #EAEAEA;
}

.navbar-right{
    padding-right: 50px;
}

.navbar-leftside {
  padding-left: 50px;
}

.nav-link {
  padding: 0 20px 0 20px;
}

.nav-link, a.navbar-brand{
  color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

#homepageYo {
  color: #BCBCBC;
}

.btn-primary>a {
  color: white;
}

.bigImage {
  // background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#reviewsIndexHeader {
  margin-left: 28px;
}

#titleHeader {
  width: 100px;
  // margin: 0 auto;
}

.newPoster {
  margin: 10px 0 10px 140px;
  height: 300px;
  width: 200px;
  border-radius: 5px;
}

.indexHeader {
  margin-bottom: 50px;
}

.filmShow {
  text-align: center;
}

.imageDiv {
  // margin: 10px 10px 10px 50px;
}

.reviewPage {
  margin: 0 20px 0 20px;
}

.title-container {
  height: 40px;
}

img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  margin: 10px 0px 20px 0px;
}

@media(min-width:960px) {
  .filmShow .col-md-3 .well {
    height: 390px;
  }
  .filShow .col-md-3 img{
    height: 240px;
}
}

.jumbotron {
  position: absolute;
  top: 40%;
  left: 26%;
  width: 600px;

}

#container {
  border: 1px solid;
  padding: 5px;
  max-width: 630px;
}

.item {
  width: 60px;
  height: 60px;
  float: left;
  margin: 5px;
  background: #CCC;
}

.item.w2 {
  width: 130px;
}

.item.h2 {
  height: 130px;
}

.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

.star {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
  color: transparent;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

a {
  color: black;
}

.jumbotron#containerHome {
  background-color: rgba(255,255,255, 0) !important;
}

.register {
  max-width: 460px;
  margin: 0 auto;
  padding: 30px;
}
